.App {
  text-align: center;
  background-image: url(./assets/Bg.png);
  background-size: 100% 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes handAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
//..........//
.header {
  width: 100%;
  object-fit: cover;
  img {
    width: 100%;
    &:last-child {
      margin-top: -12vw;
    }
  }
}
.language-dropdown {
  right: 2vw;
  top: 0;
  margin: 0 auto;
  color: white;
  z-index: 2;
  .selected-language {
    background-color: #994f04;
    font-family: tangoSans;
    cursor: pointer;
    font-size: 3.5vw;
    color: white;
    border-radius: 2vw;
    margin-top: 2vw;
    display: flex;
    padding-left: 2vw;
    justify-content: space-between;
    align-items: center;
    img {
      width: 4vw;
      margin-left: 1vw;
      background-color: #0c58a9;
      padding: 1vw;
      border-radius: 0 2vw 2vw 0;
    }
  }
  .language-list {
    background-color: #0c58a9;
    overflow: hidden;
    border-radius: 2vw;
    font-size: 3vw;
    padding: 1vw 0;
  }
  .language-option {
    cursor: pointer;
    &:hover {
      background-color: #ccc;
    }
  }
  .dropdown:hover .language-list {
    display: block;
  }
}
.tab-buttons {
  width: 100%;
  button {
    width: 33%;
    height: 20vw;
    img {
      width: 100%;
    }
  }
}
.loader {
  position: relative;
  width: 100%;
  height: 20vw;
  padding: 10vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 10vw;
    height: 10vw;
    margin: 8px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}
.popup-buttons {
  button {
    &:nth-child(1) {
      background-image: url(./assets/popupBtn-bg-left.png);
      background-size: 100% 100%;
      width: 18vw;
      height: 15vw;
      left: 0;
      top: 80vw;
      z-index: 2;
      color: white;
      font-size: 3vw;
      padding-right: 3vw;
    }
    &:nth-child(2) {
      background-image: url(./assets/popupBtn-bg-right.png);
      background-size: 100% 100%;
      width: 18vw;
      height: 15vw;
      right: 0;
      top: 80vw;
      z-index: 2;
      color: white;
      font-size: 3vw;
      padding-left: 2vw;
    }
    &:nth-child(3) {
      background-image: url(./assets/popupBtn-bg-left.png);
      background-size: 100% 100%;
      width: 18vw;
      height: 15vw;
      left: 0;
      z-index: 2;
      color: white;
      font-size: 3vw;
      padding-right: 4vw;
    }
    &:nth-child(4) {
      background-image: url(./assets/popupBtn-bg-right.png);
      background-size: 100% 100%;
      width: 18vw;
      height: 15vw;
      right: 0;
      z-index: 2;
      color: white;
      font-size: 3vw;
      padding-left: 3vw;
    }
  }
}
.details-popup {
  background-image: url(./assets/Popups/other-popups/Details-Bg.png);
  background-size: 100% 100%;
  width: 90%;
  max-height: 150vw;
  padding: 15vw 0 10vw 0;
  color: white;
  margin-top: 25vw;
  .title {
    background-image: url(./assets/Popups/other-popups/Title-base.png);
    background-size: 100% 100%;
    width: 60%;
    padding-top: 2vw;
    height: 20vw;
    font-size: 7vw;
    left: 0;
    right: 0;
    top: 15vw;
    text-shadow: 0px 2px #000000b8;
  }
  .inner-content {
    width: 90%;
    max-height: 140vw;
    overflow-y: scroll;
    .head {
      font-size: 2.5vw;
      color: white;
      background-color: #e37820;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3vw 0;
      }
    }
    .body {
      font-size: 2.5vw;
      background-color: #06531c;
    }

    .rew-img {
      width: 100%;
      height: 9vw;
      img {
        width: 8vw;
      }
    }

    .details {
      font-size: 1.6vw;
    }
  }
  .table {
    font-size: 2.5vw;
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 5vw;
    th {
      background-color: #e37820;
      padding: 1vw;
      font-weight: lighter;
    }
    td {
      padding: 1vw;
      height: 6vw;
      background-color: #06531c;
      font-size: 2vw;
    }
  }
  .close {
    right: 3vw;
    top: 10vw;
  }
}
.event-gifts {
  background-image: url(./assets/Popups/other-popups/Event-Gifts-Bg.png);
  background-size: 100% 100%;
  width: 95%;
  height: 35vw;
  color: #14410b;
  .heading {
    background-image: url(./assets/Popups/other-popups/title-bg.png);
    background-size: 100% 100%;
    width: 50%;
    padding: 4vw 3vw 3vw 3vw;
    font-size: 3.5vw;
    top: -9vw;
  }
  .gifts {
    width: 100%;
    &-box {
      &-frame {
        background-image: url(./assets/Popups/other-popups/Gift-Box.png);
        background-size: 100% 100%;
        width: 18vw;
        height: 20vw;
        font-size: 2.5vw;
      }
      &-cost {
        background-color: #00ffcb;
        border: 1.5px solid #113609;
        border-radius: 5vw;
        padding: 0.5vw 1vw;
        font-size: 2.5vw;
        top: -2vw;
        img {
          width: 3vw;
        }
      }
      &-name {
        font-size: 2.5vw;
      }
    }
  }
}
.my-points {
  max-width: 60%;
  font-size: 2.5vw;
  color: #14410b;
  img {
    width: 6vw;
  }
}
.war-game {
  background-image: url(./assets/Game-Section-Base.png);
  background-size: 100% 100%;
  width: 95%;
  padding: 3vw 2vw;
  &-battleField {
    background-image: url(./assets/GameAssets/Tab1GameAssets/Battlefield.png);
    background-size: 100% 100%;
    width: 100%;
    height: 110vw;
    color: white;
    .soldiers {
      width: 50%;
      top: 16vw;
      img {
        width: 8vw;
      }
    }
    .hand {
      right: 36vw;
      top: 52vw;
      width: 12vw;
    }
    .canon {
      bottom: 0;
      img {
        width: 30vw;
      }
    }
  }
  &-progress {
    width: 95%;
    height: 16vw;
    font-size: 3vw;
    color: #fec723;
    margin-top: -15vw;
    z-index: 1;
    .text {
      background-color: #044623;
      border: 1.5px solid #fec723;
      border-radius: 5vw;
      padding: 0.5vw 2vw;
      font-family: Arial, Helvetica, sans-serif;
    }
    .progress-bar {
      width: 100%;
      .bar {
        background-image: url(./assets/bar-base.png);
        background-size: 100% 100%;
        width: 70%;
        height: 6vw;
        padding: 0 1vw;
        img {
          height: 3.5vw;
          width: 83%;
          border-radius: 5vw 0 0 5vw;
        }
        .count {
          left: 0;
          right: 0;
          color: white;
          text-shadow: 0px 1px 3px blue;
          font-size: 3vw;
        }
      }
    }
  }
  .btn-area {
    width: 95%;
    height: 30vw;
    .select-img {
      width: 70%;
      .box {
        font-size: 1.8vw;
        color: white;
        .bomb {
          background-image: url(./assets/Bomb-base.png);
          background-size: 100% 100%;
          width: 18vw;
          height: 18vw;
          img {
            width: 15vw;
            height: 15vw;
          }
        }
        .input-counter {
          input {
            background-image: url(./assets/Number-Base.png);
            background-size: 100% 100%;
            background-color: transparent;
            border: none;
            width: 5vw;
            height: 5vw;
            font-size: 3vw;
            font-weight: bold;
            font-family: tangoItalic;
            text-align: center;
            color: #0c5f4e;
            &:focus {
              outline: none;
            }
            &[type="number"]::-webkit-inner-spin-button,
            &[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
          button {
            img {
              width: 4vw;
            }
          }
        }
      }
    }
    .start-btn {
      img {
        width: 25vw;
      }
    }
  }
  .score-counter {
    background-image: url(./assets/Daily-Enemies-Defeated-Base.png);
    background-size: 100% 100%;
    width: 55%;
    height: 8vw;
    font-size: 2vw;
    padding-bottom: 2vw;
    color: #124e1c;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    img {
      width: 5vw;
    }
  }
}
.rewards-box {
  background-image: url(./assets/Game-Section-Base.png);
  background-size: 100% 100%;
  width: 98%;
  height: 60vw;
  margin-top: 20vw !important;
  padding-top: 11vw;
  .title {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 75%;
    top: -18vw;
  }
  .beans-pot {
    width: 45%;
    height: 52vw;
    font-size: 3.2vw;
    font-weight: bold;
    .pot {
      background-image: url(./assets/Rewards-Box.png);
      background-size: 100% 100%;
      width: 95%;
      height: 30vw;
      span {
        top: 0vw;
        font-size: 4vw;
      }
      img {
        width: 25vw;
      }
    }
    .bean-num {
      background-image: url(./assets/Beans-counter-Base.png);
      background-size: 100% 100%;
      width: 25vw;
      height: 10vw;
      img {
        width: 6vw;
      }
    }
  }
  .rewards {
    width: 45%;
    height: 52vw;
    .rewards-slider {
      width: 100%;
      height: 100%;
      .sliderItem {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .carousel {
          width: 100%;
          height: 100%;
          overflow: hidden;
          .inner {
            width: 100%;
            height: 100%;
            white-space: nowrap;
            transition: transform 0s;
          }
          .slide-buttons {
            top: 20vw;
            justify-content: space-between;
            width: 60%;
            left: 0;
            right: 0;
            margin: 0 auto;
            img {
              width: 5vw;
            }
          }
        }
        .carousel-item {
          display: inline-flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          gap: 1vw;
          .inner-box {
            background-image: url(./assets/Rewards-Box.png);
            background-size: 100% 100%;
            width: 95;
            height: 30vw;
            .rank {
              top: 0vw;
              font-size: 4vw;
              font-weight: 900;
              color: white;
            }
            .rewardImg {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              .img-box {
                width: 100%;
                height: 100%;
                img {
                  width: 35%;
                }
              }
            }
          }
          .desc {
            background-image: url(./assets/Beans-counter-Base.png);
            background-size: 100% 100%;
            width: 25vw;
            height: 10vw;
            font-size: 3vw;
            margin: 0 auto;
            color: white;
            font-weight: 600;
            white-space: normal;
            span {
              width: 100%;
            }
          }
        }
        .indicators {
          display: flex;
          justify-content: center;
          position: absolute;
          bottom: 18vw;
          left: 0;
          right: 0;
          span {
            border-radius: 50%;
            height: 1.5vw;
            width: 1.5vw;
            background-color: white;
            margin: 3vw 0.7vw;
          }
          span.active {
            background-color: #0c5f4e;
            border-radius: 50%;
            height: 1.5vw;
            width: 1.5vw;
          }
        }
      }
    }
  }
}
.sub-buttons {
  width: 85%;
  height: 12vw;
  margin-top: 5vw !important;
  button {
    font-size: 3vw;
    font-weight: bold;
    font-family: tangoitalic;
    &:first-child {
      background-image: url(./assets/Today-Base.png);
      background-size: 100% 100%;
    }
    &:last-child {
      background-image: url(./assets/Previous-Base.png);
      background-size: 100% 100%;
    }
  }
  .trophy {
    z-index: 1;
    width: 13vw;
    top: -4vw;
  }
  .btn-active {
    width: 40%;
    height: 11vw;
    filter: grayscale(0);
    transition: all 0.2s ease;
  }
  .btn {
    filter: grayscale(1);
    transition: all 0.2s ease;
    width: 40%;
    height: 11vw;
  }
}
.guide-popup {
  background-image: url(./assets/Popups/other-popups/big-bg.png);
  background-size: 100% 100%;
  width: 90%;
  height: 140vw;
  padding: 15vw 0;
  color: #14410b;
  margin-top: 25vw;

  .title {
    background-image: url(./assets/Popups/other-popups/Title-base.png);
    background-size: 100% 100%;
    width: 70%;
    height: 22vw;
    font-size: 12vw;
    left: 0;
    right: 0;
    top: 12vw;
    text-shadow: 1px 4px 1px #795023;
  }
  &-content {
    width: 95%;
    .heading {
      font-size: 5vw;
    }
    .top-text {
      width: 90%;
      height: 12vw;
      font-size: 2.5vw;
      margin-top: 4vw;
    }
    .how-to-play {
      width: 100%;
      max-height: 83vw;
      margin: auto;
      overflow-y: scroll;
      justify-content: flex-start;
      padding-top: 8vw;
      gap: 8vw;
      .toggle-btn {
        background-image: url(./assets/Popups/other-popups/title-bg.png);
        background-size: 100% 100%;
        width: 70%;
        height: 8vw;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -7vw;
        padding: 2vw 1vw 1vw 1vw;
        .title-text {
          width: 60%;
          font-size: 3.5vw;
        }
        .arrow {
          width: 6vw;
          position: absolute;
          right: 10vw;
          top: 5vw;
        }
      }
      margin: auto;
      .text-data {
        background-color: #06531c;
        border: 2px solid #ffac2f;
        border-radius: 3vw;
        width: 80%;
        height: 40vw;
        margin: auto;
        transition: all 2s ease-in-out;
        text-align: left;
        font-size: 3vw;
        color: white;
        margin-top: -8vw;
        padding: 2vw;
        .box {
          width: 100%;
          margin: 0 auto;
          height: 40vw;
          overflow-y: scroll;
          ol {
            padding: 0 0 0 4vw;
          }
          ul {
            padding: 0 0 0 4vw;
          }
          .table {
            font-size: 3vw;
            th {
              padding: 1vw 0;
            }
            td {
              padding: 1vw 0;
            }
          }
        }
        .box::-webkit-scrollbar {
          width: 2px;
        }
        .box::-webkit-scrollbar-track {
          background-color: #cd8e53;
          border-radius: 10px;
        }
        .box::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #5f250f;
        }
      }
    }
  }
  .close {
    right: 3vw;
    top: 10vw;
  }
}
.leaderboard {
  background-image: url("./assets/LeaderBoard-bg.png");
  background-size: 100% 100%;
  padding: 10vw 0 20vw 0;
  &-title {
    width: 85%;
    height: 22vw;
    left: 0;
    right: 0;
    top: -8vw;
    img {
      width: 100%;
    }
  }
  .gifting-head {
    background-image: url("./assets/Popups/other-popups/Gifting-Rewards-Base.png");
    background-size: 100% 100%;
    width: 50%;
    padding: 4vw;
    font-size: 4vw;
    font-weight: bold;
    color: #06531c;
  }
  .rank-section {
    width: 100%;
    .rank-section-inner {
      width: 100%;
      //Top Winners
      .top-position-holders {
        width: 85%;
        margin-top: 20vw;
        .user-container {
          width: 37vw;
          height: 30vw;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          &:first-child {
            order: 2;
          }
          &:nth-child(2) {
            order: 1;
            margin-top: 40vw;
            margin-right: -12vw;
          }
          &:nth-child(3) {
            order: 3;
            margin-top: 40vw;
            margin-left: -12vw;
          }
          .innerData {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            font-weight: bold;
            .rank {
              font-size: 2.8vw;
              top: -19vw;
              color: white;
            }
            .bottom-data {
              background-image: url(./assets/top-user-Base.png);
              background-size: 100% 100%;
              width: 100%;
              height: 20vw;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              position: absolute;
              color: #164d1c;
              padding: 4vw 0 2vw 0;
            }
            .bottom-info {
              width: 75%;
              .username {
                font-size: 2.8vw;
                text-align: center;
                overflow: hidden;
                white-space: nowrap;
              }
              .level-img {
                width: 12vw;
              }
            }
            .score-box {
              font-size: 2.8vw;
              .estimated {
                bottom: -5vw;
                font-size: 1.8vw;
                color: white;
              }
              .points {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 10vw;
                padding: 0.5vw 1vw;
                font-size: 2.8vw;
              }
            }
            .first-user {
              .rank-user-image {
                border-radius: 50%;
                position: absolute;
                width: 16vw;
                top: -14vw;
                left: 10vw;
                z-index: 1;
              }
              .rank-border-image {
                width: 20vw;
                top: -15vw;
                z-index: 1;
              }
            }
            .runner-user {
              .rank-user-image {
                border-radius: 50%;
                position: absolute;
                width: 16vw;
                top: -14vw;
                left: 10vw;
                z-index: 1;
              }
              .rank-border-image {
                width: 20vw;
                top: -15vw;
                z-index: 1;
              }
            }
            a {
              outline: none;
              cursor: none;
            }
          }
        }
      }
      // Bottom Winners
      .rest-position-holders {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 3vw;
        font-size: 2.5vw;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 10vw;
        .users-details-onward {
          background-image: url("./assets/rest-user-Base.png");
          background-size: 100% 100%;
          width: 90%;
          height: 20vw;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #164d1c;
          padding: 4vw 4vw 0vw 4vw;
          .rank-id {
            font-size: 3.5vw;
            position: absolute;
            color: white;
            margin: 0 auto;
          }
          .rank-user-image {
            border-radius: 50%;
            position: absolute;
            width: 16vw;
            top: 1.5vw;
            left: 1vw;
            z-index: 1;
          }
          .rank-border-image {
            width: 18vw;
            top: 0vw;
            z-index: 1;
          }
          .user-image-top {
            width: 8vw;
            border-radius: 50%;
            left: 10vw;
            top: 3vw;
          }
          .user-info {
            overflow: hidden;
            display: flex;
            text-align: left;
            .username {
              font-size: 3.2vw;
              font-weight: 700;
              width: 22vw;
            }
          }
          .est-rew {
            width: 22vw;
            height: 8vw;
            font-size: 3vw;
            font-weight: bold;
            padding: 0vw 2vw;
            text-align: left;
            img {
              width: 3vw;
              height: 3vw;
            }
          }
          .rewards-slide {
            width: 35vw;
            height: 8vw;
            font-size: 2.8vw;
            font-weight: bold;
            padding: 0vw 2vw;
            text-align: left;
            img {
              width: 3vw;
              height: 3vw;
            }
          }
          a {
            outline: none;
            cursor: none;
          }
          .reward-img {
            width: 26vw;
            height: 8vw;
            font-size: 3vw;
            font-weight: bold;
            padding: 0vw 2vw;
            text-align: left;
            img {
              width: 8vw;
              height: 10vw;
            }
          }
        }
      }
      .rest-position-holders-max {
        overflow-y: scroll;
      }
      .rest-position-holders-max::-webkit-scrollbar {
        width: 2px;
      }
      .rest-position-holders-max::-webkit-scrollbar-track {
        background-color: #cd8e53;
        border-radius: 10px;
      }
      .rest-position-holders-max::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #5f250f;
      }
    }
  }
  .tab-buttons {
    .btn-active {
      width: 30vw;
    }
    .btn {
      width: 30vw;
      filter: grayscale(1);
      transition: all 0.2s ease;
    }
  }
}
.see-buttons {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  bottom: 5vw;
  button {
    background-image: url(./assets/See-btn-Base.png);
    background-size: 100% 100%;
    width: 35%;
    height: 12vw;
    font-size: 4vw;
    font-family: tangoItalic;
    color: white;
    img {
      width: 25vw;
    }
  }
}
.builder-game {
  background-image: url(./assets/Game-Section-Base.png);
  background-size: 100% 100%;
  width: 98%;
  padding-bottom: 8vw;
  margin-top: 10vw !important;
  &-area {
    &-earnings {
      background-image: url(./assets/Accumulated-Earning.png);
      background-size: 100% 100%;
      width: 85%;
      height: 12vw;
      font-size: 3.2vw;
      top: -4vw;
      img {
        width: 5vw;
      }
    }
    background-image: url(./assets/GameAssets/Tab2GameAssets/Game-bg.png);
    background-size: 100% 100%;
    width: 97%;
    height: 100vw;
    color: white;
    .estimated-rewards {
      top: 12vw;
      right: 7vw;
      .rewards {
        background-image: url(./assets/GameAssets/Tab2GameAssets/estimated-rewards-Base.png);
        background-size: 100% 100%;
        width: 18vw;
        height: 6vw;
        font-size: 2.5vw;
        color: #1d470b;
      }
      img {
        width: 12vw;
      }
    }
    .fountain {
      right: 0vw;
      top: 40vw;
      width: 35vw;
    }
    .building {
      width: 55vw;
      top: 20vw;
    }
  }
  &-progress {
    font-size: 4vw;
    width: 90%;
    &-level {
      background-image: url(./assets/Level-base.png);
      background-size: 100% 100%;
      width: 35%;
      height: 10vw;
      color: #1d470b;
    }
    &-bar {
      background-image: url(./assets/Empty-Bar.png);
      background-size: 100% 100%;
      width: 90%;
      height: 9vw;
      padding: 0 1.5vw;
      img {
        border-radius: 5vw;
        width: 60%;
        height: 6.5vw;
      }
      &-points {
        top: 2.5vw;
        color: white;
        left: 0;
        right: 0;
        text-shadow: 1px 3px 3px black;
      }
    }
  }
  &-bottom {
    width: 90%;
    &-chances {
      background-image: url(./assets/Chances-Base.png);
      background-size: 100% 100%;
      width: 40%;
      color: #164d1c;
      .input {
        width: 40%;
        height: 9vw;
        background-color: transparent;
        border: none;
        font-size: 3vw;
        font-weight: bold;
        font-family: tangoItalic;
        text-align: center;
        color: #0c5f4e;
        &:focus {
          outline: none;
        }
        &[type="number"]::-webkit-inner-spin-button,
        &[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      .counter {
        // background-image: url(./assets/Chances-Counter.png);
        // background-size: 100% 100%;
        width: 30%;
        height: 9vw;
        font-size: 4vw;
      }
    }
    &-build-btn {
      img {
        width: 25vw;
      }
      span {
        font-size: 2vw;
        color: white;
      }
    }
  }
}
.firework-game {
  background-image: url(./assets/Game-Section-Base.png);
  background-size: 100% 100%;
  width: 95%;
  height: 115vw;
  padding: 1vw 2vw 5vw 2vw;
  &-area {
    background-image: url(./assets/GameAssets/Tab3GameAssets/Game-Bg.png);
    background-size: 100% 100%;
    width: 100%;
    height: 90vw;
    color: white;
    .mascot {
      bottom: 3vw;
      img {
        &:first-child {
          width: 20vw;
          width: 20vw;
          margin-right: -8vw;
        }
        &:nth-child(4) {
          width: 20vw;
          height: 35vw;
          margin-left: -8vw;
        }
        &:nth-child(2),
        &:nth-child(3) {
          z-index: 1;
          width: 30vw;
          height: 40vw;
        }
      }
      .firecrackers {
        right: 6vw;
        bottom: -2vw;
        display: flex;
        width: 50%;
        justify-content: space-between;
        img {
          width: 13vw;
          height: 13vw;
        }
      }
    }
  }
  &-bottom {
    width: 90%;
    &-chances {
      width: 60%;
      color: #164d1c;
      font-size: 3vw;
      font-weight: bold;
      span {
        background-image: url(./assets/x1.png);
        background-size: 100% 100%;
        width: 10vw;
        height: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &-fire-btn {
      img {
        width: 25vw;
      }
      span {
        font-size: 2vw;
        color: white;
      }
    }
  }
}
.game-popup {
  width: 100%;
  margin-top: 40vw;
  .container {
    background-image: url(./assets/Popups/game-popups/Base-Box.png);
    background-size: 100% 100%;
    width: 92%;
    color: white;
    margin: 0 auto;
    .content {
      width: 90%;
      top: 12vw;
      .body-text {
        color: #075b23;
        font-size: 4vw;
        width: 90%;
        .head-text {
          background-image: url(./assets/Popups/game-popups/Title-base.png);
          background-size: 100% 100%;
          width: 75%;
          padding-top: 5vw;
          height: 16vw;
          font-size: 10vw;
          left: 0;
          right: 0;
          top: -23vw;
          text-shadow: 1px 2px 0px #e08c0f;
          margin: 0 auto;
          color: white;
          font-family: hunter;
        }
        .rews-box {
          width: 100%;
          flex-wrap: wrap;
          max-height: 50vw;
        }
        .rews-box-max {
          overflow-y: scroll;
        }
        .rews-box-max::-webkit-scrollbar {
          width: 3px;
        }
        .rews-box-max::-webkit-scrollbar-track {
          background-color: #3b375c;
          border-radius: 10px;
        }
        .rews-box-max::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #ffc507;
        }
        img {
          width: 15vw;
        }
        .reward-img {
          background-image: url(./assets/Popups/game-popups/Gift-Box.png);
          background-size: 100% 100%;
          width: 22vw;
          height: 20vw;
        }
        .name {
          font-size: 2.5vw;
          line-height: 3vw;
        }
      }
    }
    .modal-close {
      top: -20vw;
      width: 12vw;
      right: 3vw;
      img {
        width: 100%;
      }
    }
  }
}
.event-gifting {
  background-image: url(./assets/Popups/other-popups/big-bg.png);
  background-size: 100% 100%;
  width: 90%;
  padding: 20vw 0 5vw 0;
  margin-top: 25vw;
  color: white;
  .title {
    background-image: url(./assets/Popups/other-popups/Title-base.png);
    background-size: 100% 100%;
    width: 70%;
    padding-top: 3vw;
    height: 18vw;
    font-size: 8vw;
    left: 0;
    right: 0;
    top: 15vw;
  }
  .container {
    color: #a5520c;
    width: 100%;
    .gift-content {
      width: 100%;
      margin-top: 4vw;
      color: #14410b;
      .heading {
        background-image: url(./assets/Popups/other-popups/Gifting-Rewards-Base.png);
        background-size: 100% 100%;
        width: 50%;
        border-radius: 2vw;
        padding: 4vw;
        font-size: 4vw;
      }
      .topText {
        width: 70%;
        height: 7vw;
        font-size: 4vw;
        font-weight: bold;
        margin: 0 auto;
        left: 0;
        right: 0;
      }
      .sub-buttons-gifting {
        width: 85%;
        height: 11vw;
        margin-bottom: -6vw;
        button {
          font-size: 2.8vw;
          font-weight: bold;
          font-family: tangoitalic;
          &:first-child {
            background-image: url(./assets/Popups/other-popups/subtabs-Base.png);
            background-size: 100% 100%;
          }
          &:last-child {
            background-image: url(./assets/Popups/other-popups/subtabs-Base.png);
            background-size: 100% 100%;
          }
        }
        .btn-active {
          width: 50%;
          height: 8vw;
          padding-top: 2.5vw;
          filter: grayscale(0);
          transition: all 0.2s ease;
        }
        .btn {
          filter: grayscale(1);
          transition: all 0.2s ease;
          width: 50%;
          height: 8vw;
          padding-top: 2.5vw;
        }
      }
      .rewards-slider-gifting {
        background-image: url(./assets/Popups/other-popups/Talent-Gifters-Box.png);
        background-size: 100% 100%;
        width: 90%;
        height: 45vw;
        color: white;
        .sliderItem {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 0vw;
          .carousel {
            width: 100%;
            height: 100%;
            overflow: hidden;
            .inner {
              width: 100%;
              height: 100%;
              white-space: nowrap;
              transition: transform 0s;
            }
            .slide-buttons {
              top: 20vw;
              justify-content: space-between;
              width: 90%;
              left: 0;
              right: 0;
              margin: 0 auto;
              img {
                width: 6vw;
              }
            }
          }
          .carousel-item {
            display: inline-flex;
            align-items: flex-end;
            justify-content: center;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            .inner-box {
              width: 85%;
              height: 100%;
              .rank {
                top: 4vw;
                font-size: 3vw;
              }
              .rewardImg {
                width: 95%;
                height: 30vw;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10vw;
                .img-box {
                  width: 12vw;
                  height: 12vw;
                  img {
                    width: 100%;
                  }
                }
                .desc {
                  width: 85%;
                  height: 10vw;
                  font-size: 2.2vw;
                  margin: 0 auto;
                  text-wrap: wrap;
                  span {
                    width: 90%;
                  }
                }
              }
            }
          }
          .indicators {
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 0vw;
            left: 0;
            right: 0;
            span {
              border-radius: 50%;
              height: 1.5vw;
              width: 1.5vw;
              background-color: white;
              margin: 3vw 0.7vw;
            }
            span.active {
              background-color: yellow;
              border-radius: 50%;
              height: 1.5vw;
              width: 1.5vw;
            }
          }
        }
      }
    }
  }
  .close {
    right: 3vw;
    top: 10vw;
  }
}
.gifting-footer {
  width: 100%;
  padding: 5vw 0;
  text-align: center;
  font-size: 3.5vw;
  color: white;
  margin: 0;
}
.records-popup {
  background-image: url(./assets/Popups/other-popups/Details-Bg.png);
  background-size: 100% 100%;
  width: 95%;
  max-height: 120vw;
  min-height: 50vw;
  padding: 10vw 0;
  color: white;
  margin-top: 25vw;
  .title {
    background-image: url(./assets/Popups/other-popups/Title-base.png);
    background-size: 100% 100%;
    width: 60%;
    padding-top: 2vw;
    height: 22vw;
    font-size: 10vw;
    left: 0;
    right: 0;
    top: -20vw;
    text-shadow: 0px 2px #000000b8;
  }
  .inner-content {
    width: 90%;
    margin: 0 auto;
    padding: 7vw 0;
    .table {
      width: 95%;
      overflow: hidden;
      font-size: 2.7vw;
      border: 2px solid #721800;
      td {
        padding: 3vw 0;
        border: 2px solid #721800;
      }
      .heading {
        width: 100%;
        background-color: #c3661c;
        height: 12vw;
        margin: 0 auto;
        color: white;
      }
      .table-data {
        width: 100%;
        max-height: 90vw;
        overflow-y: scroll;
        .content {
          width: 100%;
          color: #751a20;
          font-weight: bold;
        }
      }
      .table-data::-webkit-scrollbar {
        background-color: #ffffff;
        background-size: 100% 100%;
        width: 0.1vw;
      }
      .table-data::-webkit-scrollbar-track {
        background-color: white;
        border-radius: 10px;
      }
      .table-data::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #751a20;
        background-size: 100% 100%;
        width: 5vw;
        height: 5vw;
      }
      .rews {
        .rew-img {
          width: 9vw;
          height: 9vw;
          img {
            width: 8vw;
          }
        }
        .desc {
          font-size: 1.8vw;
        }
      }
    }
    .see-btn {
      width: 20vw;
      margin: auto;
      padding: 2vw;
      margin-top: 2vw;
      button {
        margin: 0 auto;
        img {
          width: 20vw;
        }
      }
    }
  }
  .close {
    right: 3vw;
    top: -15vw;
  }
}
